<a class="anchor" id="0"></a>
# 50 Tips for Data Science for tabular data for beginners (in progress...)
## Frequently used useful code for:
* Import libraries
* Data download
* Data cleaning
* FE
* Modeling
* Analysing, and visualization of modeling results
* Prediction and submitting of modeling results
etc.

### With BONUS - the short solution for Competition [Titanic: Machine Learning from Disaster](https://www.kaggle.com/c/titanic) with LB=0.80382 (Top 4%)

### Part of tips from the first versions of the notebook see in a new notebook [50 Advanced Tips: Data Science for tabular data](https://www.kaggle.com/vbmokin/50-advanced-tips-data-science-for-tabular-data)

Later I will publish another notebook for EDA.

## It's done 45 tips: 1.1-1.5, 2.1-2.7, 3.1, 3.2, 4.1-4.8, 5.1-5.5, 6.1-6.16, 7.2, 8

## Acknowledgements

### Datasets:
* for Classification task solutions - competition's dataset [Titanic - Machine Learning from Disaster](https://www.kaggle.com/c/titanic)
* for Classification task solutions - [Heart Disease UCI](https://www.kaggle.com/ronitf/heart-disease-uci)
* for Regression task solutions - my dataset [Ammonium prediction in river water](https://www.kaggle.com/vbmokin/ammonium-prediction-in-river-water)
* from API for Regression task solutions - official data of COVID-19 in Ukraine (https://covid19.rnbo.gov.ua/)
* for NLP task - [NLP : Reports & News Classification](https://www.kaggle.com/vbmokin/nlp-reports-news-classification)

### Notebooks:
* [50 Advanced Tips: Data Science for tabular data](https://www.kaggle.com/vbmokin/50-advanced-tips-data-science-for-tabular-data)
* [Data Science for tabular data: Advanced Techniques](https://www.kaggle.com/vbmokin/data-science-for-tabular-data-advanced-techniques)
* [EDA for tabular data: Advanced Techniques](https://www.kaggle.com/vbmokin/eda-for-tabular-data-advanced-techniques)
* [Heart Disease - Automatic AdvEDA & FE & 20 models](https://www.kaggle.com/vbmokin/heart-disease-automatic-adveda-fe-20-models)
* [COVID in UA: Prophet with 4, Nd seasonality](https://www.kaggle.com/vbmokin/covid-in-ua-prophet-with-4-nd-seasonality)
* [Top score : one line of the prediction](https://www.kaggle.com/vbmokin/titanic-top-score-one-line-of-the-prediction)
* [AI-ML-DS Training. L3AT: NH4 - NN models](https://www.kaggle.com/vbmokin/ai-ml-ds-training-l3at-nh4-nn-models)
* https://www.dataschool.io/python-pandas-tips-and-tricks/
* https://github.com/rougier/numpy-100

<a class="anchor" id="0.1"></a>
## Table of Contents

1. [Import main libraries](#1)
    - [Tip 1.1. Import the most popular and useful main Python libraries](#1.1)
    - [Tip 1.2. Warnings - ignore all](#1.2)
    - [Tip 1.3. Ignore all warnings about later execution](#1.3)    
    - [Tip 1.4. Install new libraries or packages with the given version](#1.4)
    - [Tip 1.5. Import module or subpackage](#1.5)
1. [Data download](#2)
    - [Tip 2.1. Download typical csv-file to DataFrame](#2.1)
    - [Tip 2.2. Download csv-file saved from MS Excel-file to DataFrame](#2.2)
    - [Tip 2.3. Download csv-file with Cyrillic text to DataFrame](#2.3)
    - [Tip 2.4. Download csv-file with given data types and NAN values](#2.4)
    - [Tip 2.5. Download 1% data with random rows from big csv-file](#2.5)
    - [Tip 2.6. Internally process the file in chunks (low_memory)](#2.6)    
    - [Tip 2.7. Download json-data via API in Kaggle](#2.7)
    - [Tip 2.8. Selection data from DataFrame (Pandas Tips)](#2.8)
1. [Auxiliary functions](#3)
    - [Tip 3.1. Pandas option for output data](#3.1)
    - [Tip 3.2. The garbage collector](#3.2)
1. [EDA & Data cleaning](#4)
    - [Tip 4.1. Count of rows that match a condition](#4.1)
    - [Tip 4.2. Combine the small categories into a single category named "Other"](#4.2)
    - [Tip 4.3. Count the missing values](#4.3)
    - [Tip 4.4. Convert one type of values to others](#4.4)
    - [Tip 4.5. Replaced inf, -inf, nan to given value](#4.5)
    - [Tip 4.6. Filtering the missing data in DataFrame](#4.6)
    - [Tip 4.7. Generate descriptive statistics](#4.7)    
1. [FE](#5)
    - [Tip 5.1. Search and encoding categorical columns](#5.1)
    - [Tip 5.2. Difference or rolling of values in DataFrame](#5.2)
    - [Tip 5.3. Data dropping (rows or columns removing) in DataFrame](#5.3)
    - [Tip 5.4. Date in str format to date in datetime format in DataFrame](#5.4)
    - [Tip 5.5. MinMaxScaling data in DataFrame](#5.5)
1. [Modeling](#6)
    - [Tip 6.1. Data preparation with standardization for modeling](#6.1)
    - [Tip 6.2. Splitting data with train_test_split](#6.2)
    - [Tip 6.3. Accuracy score for train and test prediction](#6.3)
    - [Tip 6.4. Classification report](#6.4)
    - [Tip 6.5. Linear Regression](#6.5)
    - [Tip 6.6. Support Vector Machines](#6.6)
    - [Tip 6.7. Linear SVC](#6.7)
    - [Tip 6.8. Decision Tree Classifier & Regressor](#6.8)
    - [Tip 6.9. Random Forest Classifier & Regressor](#6.9)
    - [Tip 6.10. XGB Classifier](#6.10)
    - [Tip 6.11. LGBM Classifier](#6.11)
    - [Tip 6.12. Logistic Regression](#6.12)
    - [Tip 6.13. k-Nearest Neighbors (KNN)](#6.13)
    - [Tip 6.14. MLP Classifier](#6.14)
    - [Tip 6.15. Voting Classifier](#6.15)
    - [Tip 6.16. Feature importance diagram](#6.16)
1. [Analysis and visualization of modeling results](#7)
    - [Tip 7.1. Output results](#7.1)
    - [Tip 7.2. Drawing plot data with modeling results](#7.2)
    - [Tip 7.3. Drawing plot data of DataFrame (Pandas)](#7.3)
1. [BONUS](#8)
    - [Tip 8.1. Submission data from DataFrame to Kaggle competition](#8.1)

## 1. Import main libraries<a class="anchor" id="1"></a>

[Back to Table of Contents](#0.1)

### Tip 1.1. Import the most popular and useful main Python libraries<a class="anchor" id="1.1"></a>

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

### Tip 1.2. Warnings - ignore all<a class="anchor" id="1.2"></a>

In [2]:
import warnings
warnings.simplefilter('ignore')

### Tip 1.3. Ignore all warnings about later execution <a class="anchor" id="1.3"></a>

In [3]:
import warnings
warnings.filterwarnings("ignore", category=FutureWarning)

### Tip 1.4. Install new libraries or packages with the given version<a class="anchor" id="1.4"></a>

In [4]:
!pip install pandas-profiling==2.11.0

WARNING: Retrying (Retry(total=4, connect=None, read=None, redirect=None, status=None)) after connection broken by 'NewConnectionError('<pip._vendor.urllib3.connection.HTTPSConnection object at 0x7f3adb0acb10>: Failed to establish a new connection: [Errno -3] Temporary failure in name resolution')': /simple/pandas-profiling/
^C

### Tip 1.5. Import module or subpackage <a class="anchor" id="1.5"></a>

In [5]:
from sklearn.metrics import r2_score, mean_absolute_error, mean_squared_error, accuracy_score, confusion_matrix

## 2. Data download<a class="anchor" id="2"></a>

[Back to Table of Contents](#0.1)

### Tip 2.1. Download typical csv-file to DataFrame <a class="anchor" id="2.1"></a>

In [6]:
data_titanic = pd.read_csv('../input/titanic/train.csv')
data_titanic.head(3)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S

In [7]:
data_health = pd.read_csv("../input/heart-disease-uci/heart.csv")
data_health.tail(3)

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
300,68,1,0,144,193,1,1,141,0,3.4,1,2,3,0
301,57,1,0,130,131,0,1,115,1,1.2,1,1,3,0
302,57,0,1,130,236,0,0,174,0,0.0,1,1,2,0

### Tip 2.2. Download csv-file saved from MS Excel-file to DataFrame <a class="anchor" id="2.2"></a>
MS Excel with saves csv-files with the default settings with the delimiter ";"

In [16]:
data_water = pd.read_csv('../input/ammonium-prediction-in-river-water/PB_1996_2019_NH4.csv', sep=';')
data_water.tail(3)

      ID_Station        Date    NH4  Distance
3496          35  04.07.2019  0.000     797.0
3497          35  06.08.2019  0.022     797.0
3498          35  04.09.2019  0.159     797.0

In [17]:
data_water['date'] = pd.to_datetime(data_water['Date'], format='%d.%m.%Y', errors='coerce').dt.to_period('m')
data_water = data_water[['ID_Station','date','NH4']]
data_water_id_list = data_water['ID_Station'].unique().tolist()
data_water_id_str_list = [str(x) for x in data_water_id_list]
data_water = pd.pivot_table(data_water, values='NH4', index=['date'], columns='ID_Station')
data_water = data_water[[27, 28, 29]]
data_water.columns = ['target', 'Kl', "Khm"]
data_water = data_water.dropna().reset_index(drop=False)
data_water

        date  target    Kl   Khm
0    1993-02   1.400  0.06  0.06
1    1993-11   0.625  0.75  0.61
2    1994-02   1.550  1.25  1.08
3    1994-03   0.550  1.50  0.87
4    1994-04   0.410  0.43  0.45
..       ...     ...   ...   ...
298  2019-06   0.300  0.37  0.50
299  2019-07   0.360  0.37  0.33
300  2019-08   0.430  0.35  0.30
301  2019-09   0.250  0.26  0.21
302  2019-10   0.380  0.41  0.32

[303 rows x 4 columns]

### Tip 2.3. Download csv-file with Cyrillic text to DataFrame <a class="anchor" id="2.3"></a>

In [18]:
data_nlp = pd.read_csv('../input/nlp-reports-news-classification/water_problem_nlp_ua_for_Kaggle_100.csv', delimiter=';', 
                 header=0, encoding='cp1251')
data_nlp.tail(3)

,text,env_problems,pollution,treatment,climate,biomonitoring
97,Використання даних величин запропоноване групо...,0.0,NaN,NaN,NaN,NaN
98,Оцінка хімічного статусу виділених водних тіл ...,0.0,NaN,NaN,NaN,NaN
99,Для визначення рівнів надійності оцінки за заг...,0.0,NaN,NaN,NaN,NaN

### Tip 2.4. Download csv-file with given data types and NAN values<a class="anchor" id="2.4"></a>
The data type "Int64" allows the presence of NAN values during import, in contrast to the data type "int"

In [19]:
df = pd.read_csv('../input/nlp-reports-news-classification/water_problem_nlp_ua_for_Kaggle_100.csv', delimiter=';', 
                 header=0, encoding='cp1251', 
                 dtype = {'text': str, 
                          'env_problems': 'Int64',
                          'pollution': 'Int64', 
                          'treatment': 'Int64',
                          'climate': 'Int64',
                          'biomonitoring': 'Int64'})
df.head(10)

,text,env_problems,pollution,treatment,climate,biomonitoring
0,У поверхневі води басейну Південного Бугу скид...,1,1,<NA>,<NA>,<NA>
1,Згідно з державною статистичною звітністю (фор...,1,1,<NA>,<NA>,<NA>
2,Показники об’ємів стічних вод серед різних гал...,1,1,<NA>,<NA>,<NA>
3,Частка легкокиснюваних органічних речовин оцін...,1,1,<NA>,<NA>,<NA>
4,Функціонування промисловості призводить до ски...,1,1,<NA>,<NA>,<NA>
5,Із 92 міських поселень лише у 51 населеному пу...,1,<NA>,<NA>,<NA>,<NA>
6,Населені пункти які не мають каналізаційної ме...,1,<NA>,<NA>,<NA>,<NA>
7,Виробничі управління житлово-комунального госп...,1,<NA>,1,<NA>,<NA>
8,Обладнання очисних споруд вкрай зношене кількі...,1,<NA>,1,<NA>,<NA>
9,Нинішній стан каналізаційних мереж також викли...,1,<NA>,1,<NA>,<NA>

### Tip 2.5. Download 1% data with random rows from big csv-file<a class="anchor" id="2.5"></a>

In [20]:
df = pd.read_csv('../input/ammonium-prediction-in-river-water/PB_1996_2019_NH4.csv', sep=';', 
                 skiprows = lambda x: x>0 and np.random.rand() > 0.01)
print("The shape of the df is {}. It has been reduced 100 times!".format(df.shape))


'''
How it works:
skiprows accepts a function that is evaluated against the integer index.
x > 0 makes sure that the headers is not skipped
np.random.rand() > 0.01 returns True 99% of the tie, thus skipping 99% of the time.
Note that we are using skiprows
'''
df.head(3)

The shape of the df is (32, 4). It has been reduced 100 times!

   ID_Station        Date    NH4  Distance
0          14  03.09.2013  0.750       0.5
1          16  04.08.1997  0.125     153.0
2          16  04.04.2013  0.110     153.0

### Tip 2.6. Internally process the file in chunks (low_memory)<a class="anchor" id="2.6"></a>
Internally process the file in chunks, resulting in lower memory use while parsing, but possibly mixed type inference. To ensure no mixed types specify the type with the dtype parameter.

In [21]:
df = pd.read_csv('../input/nlp-reports-news-classification/water_problem_nlp_ua_for_Kaggle_100.csv', delimiter=';', 
                 header=0, encoding='cp1251', low_memory=True,
                 dtype = {'text': str, 
                          'env_problems': 'Int64',
                          'pollution': 'Int64', 
                          'treatment': 'Int64',
                          'climate': 'Int64',
                          'biomonitoring': 'Int64'})
df.head(3)

,text,env_problems,pollution,treatment,climate,biomonitoring
0,У поверхневі води басейну Південного Бугу скид...,1,1,<NA>,<NA>,<NA>
1,Згідно з державною статистичною звітністю (фор...,1,1,<NA>,<NA>,<NA>
2,Показники об’ємів стічних вод серед різних гал...,1,1,<NA>,<NA>,<NA>

### Tip 2.7. Download json-data via API in Kaggle<a class="anchor" id="2.7"></a>

In [22]:
# Download one file
import requests
print('Download daily data from the Portal of RNBO of Ukraine')
myfile = requests.get('https://api-covid19.rnbo.gov.ua/charts/main-data?mode=ukraine&fbclid=IwAR1vNXEE0nkmorUmGP4StG4cLrj1Z9VoX3c3Bi8dfltr0elgOj4b0M3ONvk')
open('filename', 'wb').write(myfile.content)
data_covid = pd.read_json('filename')
data_covid[:3]

Download daily data from the Portal of RNBO of Ukraine

ConnectionError: HTTPSConnectionPool(host='api-covid19.rnbo.gov.ua', port=443): Max retries exceeded with url: /charts/main-data?mode=ukraine&fbclid=IwAR1vNXEE0nkmorUmGP4StG4cLrj1Z9VoX3c3Bi8dfltr0elgOj4b0M3ONvk (Caused by NewConnectionError('<urllib3.connection.HTTPSConnection object at 0x7f97f6762690>: Failed to establish a new connection: [Errno -3] Temporary failure in name resolution'))

In [23]:
# Download some files
print('Download daily data from the Portal of RNBO of Ukraine')
for filename in ['main-data?mode=ukraine&fbclid=IwAR1vNXEE0nkmorUmGP4StG4cLrj1Z9VoX3c3Bi8dfltr0elgOj4b0M3ONvk']:
    url = f'https://api-covid19.rnbo.gov.ua/charts/{filename}'
    myfile = requests.get(url)
    open('filename.json', 'wb').write(myfile.content)
    data_covid = pd.read_json('filename.json')
    display(data_covid[:3])

Download daily data from the Portal of RNBO of Ukraine

ConnectionError: HTTPSConnectionPool(host='api-covid19.rnbo.gov.ua', port=443): Max retries exceeded with url: /charts/main-data?mode=ukraine&fbclid=IwAR1vNXEE0nkmorUmGP4StG4cLrj1Z9VoX3c3Bi8dfltr0elgOj4b0M3ONvk (Caused by NewConnectionError('<urllib3.connection.HTTPSConnection object at 0x7f97f64d3a10>: Failed to establish a new connection: [Errno -3] Temporary failure in name resolution'))

### Tip 2.8. Selection data from DataFrame (Pandas Tips)<a class="anchor" id="2.8"></a>

In [24]:
df = data_titanic.copy()
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

In [25]:
# In progress...
# df.loc[], df.iloc, data.at
df.iloc[2:5, :].loc[:, "Name":"Fare"]

,Name,Sex,Age,SibSp,Parch,Ticket,Fare
2,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.925
3,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.100
4,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.050

In [26]:
# Select multiple slices of columns from a df
cols_str = list(map(str, list(df.columns))) # so that we can do df["0"] as string for the example
df.columns = cols_str

# Using pandas concatenation
# if you are ever confused about axis = 1 or axis = 0, just put axis = "columns" or axis = "rows"
display(pd.concat([df.loc[:, "PassengerId":"Pclass"], df.loc[:, "Sex":"SibSp"]], axis = "columns").head(3))

# Using lists
# please ntoe that df.columns is a series with index, so we are using index to filter #
display(df[list(df.columns[0:3]) + list(df.columns[4:7])].head(3))

# Using numpy
display(df.iloc[:, np.r_[0:3, 4:7]].head(3)) # probably the most beautiful solution

   PassengerId  Survived  Pclass     Sex   Age  SibSp
0            1         0       3    male  22.0      1
1            2         1       1  female  38.0      1
2            3         1       3  female  26.0      0

   PassengerId  Survived  Pclass     Sex   Age  SibSp
0            1         0       3    male  22.0      1
1            2         1       1  female  38.0      1
2            3         1       3  female  26.0      0

   PassengerId  Survived  Pclass     Sex   Age  SibSp
0            1         0       3    male  22.0      1
1            2         1       1  female  38.0      1
2            3         1       3  female  26.0      0

#### See more in the notebook [50 Advanced Tips: Data Science for tabular data](https://www.kaggle.com/vbmokin/50-advanced-tips-data-science-for-tabular-data)

## 3. Auxiliary functions<a class="anchor" id="3"></a>

[Back to Table of Contents](#0.1)

### Tip 3.1. Pandas option for output data<a class="anchor" id="3.1"></a>

In [27]:
# Sets the value of the specified option.
pd.set_option('max_columns',100)
pd.set_option('max_rows',20)

Available options:
> display.[chop_threshold, colheader_justify, column_space, date_dayfirst,
>          date_yearfirst, encoding, expand_frame_repr, float_format, height,
>          line_width, max_columns, max_colwidth, max_info_columns, max_info_rows,
>          max_rows, max_seq_items, mpl_style, multi_sparse, notebook_repr_html,
>          pprint_nest_depth, precision, width]

In [28]:
data_nlp.head(1)

,text,env_problems,pollution,treatment,climate,biomonitoring
0,У поверхневі води басейну Південного Бугу скид...,1.0,1.0,NaN,NaN,NaN

In [29]:
pd.set_option('max_colwidth',200)

In [30]:
data_nlp.head(1)

,text,env_problems,pollution,treatment,climate,biomonitoring
0,У поверхневі води басейну Південного Бугу скиди стічних вод надходять із 341 точкового джерела (дані інвентаризації джерел скидів проведеної у 2011 році).,1.0,1.0,NaN,NaN,NaN

In [31]:
# Reset all of them options to default
pd.reset_option('all')

As the xlwt package is no longer maintained, the xlwt engine will be removed in a future version of pandas. This is the only engine in pandas that supports writing in the xls format. Install openpyxl and write to an xlsx file instead.

: boolean
    use_inf_as_null had been deprecated and will be removed in a future
    version. Use `use_inf_as_na` instead.

### Tip 3.2. The garbage collector<a class="anchor" id="3.2"></a>

In [32]:
import gc
gc.collect()

20

#### See more in the notebook [50 Advanced Tips: Data Science for tabular data](https://www.kaggle.com/vbmokin/50-advanced-tips-data-science-for-tabular-data)

## 4. EDA & Data cleaning<a class="anchor" id="4"></a>

[Back to Table of Contents](#0.1)

### Tip 4.1. Count of rows that match a condition <a class="anchor" id="4.1"></a>

In [33]:
df = data_titanic.copy()
df.head()
df.shape

# absolute values
(df["Age"] < 18).sum()
print("In the columns Age we have {} of rows that are below 18".format((df["Age"] < 18).sum()))

# mean value
(df["Age"] < 18).mean()
print("In the columns Age the values that are below 18 represent {}%".format((df["Age"] < 18).mean()))

In the columns Age we have 113 of rows that are below 18
In the columns Age the values that are below 18 represent 0.12682379349046016%

### Tip 4.2. Combine the small categories into a single category named "Other" <a class="anchor" id="4.2"></a>

In [34]:
d = {"class": ["A", "A", "A", "A", "A", "B", "B", "C", "D", "E", "F"]}
df = pd.DataFrame(d)
df

# Step 1: count the frequencies
frequencies = df["class"].value_counts(normalize = True)
print(frequencies)

# Step 2: establish your threshold and filter the smaller categories
threshold = 0.1
small_categories = frequencies[frequencies < threshold].index
print(small_categories)

# Step 3: replace the values
df["class"] = df["class"].replace(small_categories, "Other")
df["class"].value_counts(normalize = True)

A    0.454545
B    0.181818
D    0.090909
F    0.090909
E    0.090909
C    0.090909
Name: class, dtype: float64
Index(['D', 'F', 'E', 'C'], dtype='object')

A        0.454545
Other    0.363636
B        0.181818
Name: class, dtype: float64

### Tip 4.3. Count the missing values <a class="anchor" id="4.3"></a>

"\n" in "print" - line skip in the text output

In [35]:
df = data_titanic.copy()
# Solution 1
print('df.isnull().sum().sum()')
print(df.isnull().sum().sum(), "\n\n")

# Solution 2
print('df.isna().sum()\n')
print(df.isna().sum(), "\n\n")

# Solution 3
print('df.isna().any()\n')
print(df.isna().any(), "\n\n")

# Solution 4:
df.isna().any(axis = None)

df.isnull().sum().sum()
866


df.isna().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64


df.isna().any()

PassengerId    False
Survived       False
Pclass         False
Name           False
Sex            False
Age             True
SibSp          False
Parch          False
Ticket         False
Fare           False
Cabin           True
Embarked        True
dtype: bool

True

### Tip 4.4. Convert one type of values to others <a class="anchor" id="4.4"></a>

In [36]:
# Do some fast feature eng on the DF
d = {"gender":["male", "female", "male"], "color":["red", "green", "blue"], "age":[25, 30, 15]}
df = pd.DataFrame(d)
df

# Solution
df["gender_mapped"] = df["gender"].map({"male":"M", "female":"F"}) # using dictionaries to map values
df["color_factorized"] = df["color"].factorize()[0] # using factorize: returns a tuple of arrays (array([0, 1, 2]), Index(['red', 'green', 'blue'], dtype='object')) that's why we select [0]
df["age_compared_boolean"] = df["age"] < 18 # return a True False boolean value
df["age_str"] = df["age"].astype('str')

df

,gender,color,age,gender_mapped,color_factorized,age_compared_boolean,age_str
0,male,red,25,M,0,False,25
1,female,green,30,F,1,False,30
2,male,blue,15,M,2,True,15

In [37]:
data_titanic_num = data_titanic[['Survived', 'Pclass', 'Sex', 'Age', 'SibSp', 'Parch', 'Fare','Embarked']].copy()
data_titanic_num["Sex"] = data_titanic_num["Sex"].map({"female":0, "male":1})
data_titanic_num["Embarked"] = data_titanic_num["Embarked"].map({"S":0, "C":1, "Q": 2})
data_titanic_num = data_titanic_num.dropna()  # without NAN 
data_titanic_num

     Survived  Pclass  Sex   Age  SibSp  Parch     Fare  Embarked
0           0       3    1  22.0      1      0   7.2500       0.0
1           1       1    0  38.0      1      0  71.2833       1.0
2           1       3    0  26.0      0      0   7.9250       0.0
3           1       1    0  35.0      1      0  53.1000       0.0
4           0       3    1  35.0      0      0   8.0500       0.0
..        ...     ...  ...   ...    ...    ...      ...       ...
885         0       3    0  39.0      0      5  29.1250       2.0
886         0       2    1  27.0      0      0  13.0000       0.0
887         1       1    0  19.0      0      0  30.0000       0.0
889         1       1    1  26.0      0      0  30.0000       1.0
890         0       3    1  32.0      0      0   7.7500       2.0

[712 rows x 8 columns]

### Tip 4.5. Replaced inf, -inf, nan to given value <a class="anchor" id="4.5"></a>

In [38]:
data_titanic['Age'].replace([np.inf, -np.inf], np.nan).fillna(0)

0      22.0
1      38.0
2      26.0
3      35.0
4      35.0
       ...
886    27.0
887    19.0
888     0.0
889    26.0
890    32.0
Name: Age, Length: 891, dtype: float64

### Tip 4.6. Filtering the missing data in DataFrame<a class="anchor" id="4.6"></a>

In [39]:
data_titanic.shape

(891, 12)

In [40]:
data_titanic.dropna().reset_index(drop=True)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
1,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
2,7,0,1,"McCarthy, Mr. Timothy J",male,54.0,0,0,17463,51.8625,E46,S
3,11,1,3,"Sandstrom, Miss. Marguerite Rut",female,4.0,1,1,PP 9549,16.7000,G6,S
4,12,1,1,"Bonnell, Miss. Elizabeth",female,58.0,0,0,113783,26.5500,C103,S
...,...,...,...,...,...,...,...,...,...,...,...,...
178,872,1,1,"Beckwith, Mrs. Richard Leonard (Sallie Monypeny)",female,47.0,1,1,11751,52.5542,D35,S
179,873,0,1,"Carlsson, Mr. Frans Olof",male,33.0,0,0,695,5.0000,B51 B53 B55,S
180,880,1,1,"Potter, Mrs. Thomas Jr (Lily Alexenia Wilson)",female,56.0,0,1,11767,83.1583,C50,C
181,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
182,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C

In [41]:
data_titanic[['Name', 'Age']].dropna().reset_index(drop=True)

                                                  Name   Age
0                              Braund, Mr. Owen Harris  22.0
1    Cumings, Mrs. John Bradley (Florence Briggs Th...  38.0
2                               Heikkinen, Miss. Laina  26.0
3         Futrelle, Mrs. Jacques Heath (Lily May Peel)  35.0
4                             Allen, Mr. William Henry  35.0
..                                                 ...   ...
709               Rice, Mrs. William (Margaret Norton)  39.0
710                              Montvila, Rev. Juozas  27.0
711                       Graham, Miss. Margaret Edith  19.0
712                              Behr, Mr. Karl Howell  26.0
713                                Dooley, Mr. Patrick  32.0

[714 rows x 2 columns]

### Tip 4.7. Generate descriptive statistics<a class="anchor" id="4.7"></a>

In [42]:
data_health.describe()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
count,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000
mean,54.366337,0.683168,0.966997,131.623762,246.264026,0.148515,0.528053,149.646865,0.326733,1.039604,1.399340,0.729373,2.313531,0.544554
std,9.082101,0.466011,1.032052,17.538143,51.830751,0.356198,0.525860,22.905161,0.469794,1.161075,0.616226,1.022606,0.612277,0.498835
min,29.000000,0.000000,0.000000,94.000000,126.000000,0.000000,0.000000,71.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,47.500000,0.000000,0.000000,120.000000,211.000000,0.000000,0.000000,133.500000,0.000000,0.000000,1.000000,0.000000,2.000000,0.000000
50%,55.000000,1.000000,1.000000,130.000000,240.000000,0.000000,1.000000,153.000000,0.000000,0.800000,1.000000,0.000000,2.000000,1.000000
75%,61.000000,1.000000,2.000000,140.000000,274.500000,0.000000,1.000000,166.000000,1.000000,1.600000,2.000000,1.000000,3.000000,1.000000
max,77.000000,1.000000,3.000000,200.000000,564.000000,1.000000,2.000000,202.000000,1.000000,6.200000,2.000000,4.000000,3.000000,1.000000

#### See more in the notebook [50 Advanced Tips: Data Science for tabular data](https://www.kaggle.com/vbmokin/50-advanced-tips-data-science-for-tabular-data)

## 5. FE<a class="anchor" id="5"></a>

[Back to Table of Contents](#0.1)

### Tip 5.1. Search and encoding categorical columns <a class="anchor" id="5.1"></a>

In [43]:
data_titanic.head(3)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S

In [44]:
from sklearn.preprocessing import LabelEncoder
def df_encoding(df):
    numerics = ['int8', 'int16', 'int32', 'int64', 'float16', 'float32', 'float64']
    categorical_columns = []
    features = df.columns.values.tolist()
    for col in features:
        if df[col].dtype in numerics: continue
        categorical_columns.append(col)
    print('Categorical columns:', categorical_columns)

    for col in categorical_columns:
        if col in df.columns:
            le = LabelEncoder()
            le.fit(list(df[col].astype(str).values))
            df[col] = le.transform(list(df[col].astype(str).values))
    
    return df

In [45]:
df_encoding(data_titanic)

Categorical columns: ['Name', 'Sex', 'Ticket', 'Cabin', 'Embarked']

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,108,1,22.0,1,0,523,7.2500,147,2
1,2,1,1,190,0,38.0,1,0,596,71.2833,81,0
2,3,1,3,353,0,26.0,0,0,669,7.9250,147,2
3,4,1,1,272,0,35.0,1,0,49,53.1000,55,2
4,5,0,3,15,1,35.0,0,0,472,8.0500,147,2
...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,548,1,27.0,0,0,101,13.0000,147,2
887,888,1,1,303,0,19.0,0,0,14,30.0000,30,2
888,889,0,3,413,0,NaN,1,2,675,23.4500,147,2
889,890,1,1,81,1,26.0,0,0,8,30.0000,60,0
890,891,0,3,220,1,32.0,0,0,466,7.7500,147,1

### Tip 5.2. Difference and rolling of values in DataFrame<a class="anchor" id="5.2"></a>

In [46]:
data_covid['confirmed'].plot()

NameError: name 'data_covid' is not defined

In [ ]:
# Daily gain
data_covid['n_confirmed'] = data_covid['confirmed'].diff()
data_covid

In [ ]:
data_covid['n_confirmed'].plot()

In [ ]:
# Sliding total for a week
data_covid['n_confirmed_week'] = data_covid['n_confirmed'].rolling(7).sum()
data_covid['n_confirmed_week']

In [ ]:
data_covid['n_confirmed_week'].plot()

In [ ]:
# Plot with all these features
(data_covid['confirmed']/data_covid['confirmed'].max()).plot()
(data_covid['n_confirmed']/data_covid['n_confirmed'].max()).plot()
(data_covid['n_confirmed_week']/data_covid['n_confirmed_week'].max()).plot()

### Tip 5.3. Data dropping (rows or columns removing) in DataFrame<a class="anchor" id="5.3"></a>

In [ ]:
data_titanic.drop(columns = ['Ticket', 'Cabin'])

In [ ]:
# Dublicates removing
print(data_health.shape)
display(data_health.drop_duplicates())

### Tip 5.4. Date in str format to date in datetime format in DataFrame<a class="anchor" id="5.4"></a>

In [ ]:
data_covid['date'] = pd.to_datetime(data_covid['dates'])
# Forced conversion
pd.to_datetime(data_covid["dates"], format = '%Y-%m-%d', errors='coerce')

### Tip 5.5. MinMaxScaling data in DataFrame<a class="anchor" id="5.5"></a>

In [47]:
# MinMaxScaler
from sklearn.preprocessing import MinMaxScaler

def df_minmax_scaler(df):
    # Data Scalling
    scaler = MinMaxScaler().fit(df)
    df = pd.DataFrame(scaler.transform(df), columns = df.columns)
    return scaler, df

In [48]:
scaler, df = df_minmax_scaler(data_health.copy())
df

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,0.708333,1.0,1.000000,0.481132,0.244292,1.0,0.0,0.603053,0.0,0.370968,0.0,0.00,0.333333,1.0
1,0.166667,1.0,0.666667,0.339623,0.283105,0.0,0.5,0.885496,0.0,0.564516,0.0,0.00,0.666667,1.0
2,0.250000,0.0,0.333333,0.339623,0.178082,0.0,0.0,0.770992,0.0,0.225806,1.0,0.00,0.666667,1.0
3,0.562500,1.0,0.333333,0.245283,0.251142,0.0,0.5,0.816794,0.0,0.129032,1.0,0.00,0.666667,1.0
4,0.583333,0.0,0.000000,0.245283,0.520548,0.0,0.5,0.702290,1.0,0.096774,1.0,0.00,0.666667,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
298,0.583333,0.0,0.000000,0.433962,0.262557,0.0,0.5,0.396947,1.0,0.032258,0.5,0.00,1.000000,0.0
299,0.333333,1.0,1.000000,0.150943,0.315068,0.0,0.5,0.465649,0.0,0.193548,0.5,0.00,1.000000,0.0
300,0.812500,1.0,0.000000,0.471698,0.152968,1.0,0.5,0.534351,0.0,0.548387,0.5,0.50,1.000000,0.0
301,0.583333,1.0,0.000000,0.339623,0.011416,0.0,0.5,0.335878,1.0,0.193548,0.5,0.25,1.000000,0.0
302,0.583333,0.0,0.333333,0.339623,0.251142,0.0,0.0,0.786260,0.0,0.000000,0.5,0.25,0.666667,0.0

In [ ]:
scaler

#### See more in the notebook [50 Advanced Tips: Data Science for tabular data](https://www.kaggle.com/vbmokin/50-advanced-tips-data-science-for-tabular-data)

## 6. Modeling<a class="anchor" id="6"></a>

[Back to Table of Contents](#0.1)

Thanks to [Heart Disease - Automatic AdvEDA & FE & 20 models](https://www.kaggle.com/vbmokin/heart-disease-automatic-adveda-fe-20-models)

There are 60+ predictive modeling algorithms to choose from. Consider the classification problem with the next models (with hyperparameters tuning by GridSearchCV):

- Linear Regression, Logistic Regression
- Naive Bayes 
- k-Nearest Neighbors algorithm
- Neural network with Keras
- Support Vector Machines and Linear SVC
- Stochastic Gradient Descent, Gradient Boosting Classifier, RidgeCV, Bagging Classifier
- Decision Tree Classifier, Random Forest Classifier, AdaBoost Classifier, XGB Classifier, LGBM Classifier, ExtraTrees Classifier 
- Gaussian Process Classification
- MLP Classifier (Deep Learning)
- Voting Classifier

Application and tuning of these models using cross-validation with [learning_curve](https://scikit-learn.org/stable/modules/generated/sklearn.model_selection.learning_curve.html?highlight=learning_curve#sklearn.model_selection.learning_curve) see in the notebook [Heart Disease - Automatic AdvEDA & FE & 20 models](https://www.kaggle.com/vbmokin/heart-disease-automatic-adveda-fe-20-models).

### Tip 6.1. Data preparation with standardization for modeling<a class="anchor" id="6.1"></a>

In [ ]:
data_health.info()

In [ ]:
# Data preparation for data_health (very simple)
data_h = data_health.copy()
target_data_h = data_h.pop('target')
display(data_h.head(3))
data_h.info()

In [ ]:
# Data preparation for data_titanic (real - classification task)
from sklearn.preprocessing import StandardScaler

data = data_titanic.copy()
data.index = data['PassengerId']  # it's need removed all id-features with unique values
data = data.drop(columns=['PassengerId'])
data = data.dropna()  # it's very simple but not good approach
target_data = data.pop('Survived')
scaler = StandardScaler()
data = pd.DataFrame(scaler.fit_transform(data), columns = data.columns)
display(data.head(3))
data.info()

In [ ]:
data_water.head(3)

In [ ]:
# Data preparation for data_water (real - regression task)
data_w = data_water.copy()
data_w = data_w.drop(columns=['date'])
target_data_w = data_w.pop('target')
scaler_w = StandardScaler()
data_w = pd.DataFrame(scaler_w.fit_transform(data_w), columns = data_w.columns)
display(data_w.head(3))
data_w.info()

### Tip 6.2. Splitting data with train_test_split<a class="anchor" id="6.2"></a>

In [ ]:
from sklearn.model_selection import train_test_split
# For data_health
train, test, target, target_test = train_test_split(data, target_data, test_size=0.2, random_state=0)
print(train.shape, test.shape)

In [ ]:
# For data_water
train_w, test_w, target_w, target_test_w = train_test_split(data_w, target_data_w, test_size=0.2, random_state=0)
print(train_w.shape, test_w.shape)

### Tip 6.3. Accuracy score for train and test prediction<a class="anchor" id="6.3"></a>

In [ ]:
from sklearn.metrics import r2_score, accuracy_score

def acc(model, train, test, target, target_test, is_round=True):
    # Calculation accuracy score for train and test prediction
    # is_round=True - for classification task only, for regression task is_round=False
    
    if is_round:
        # Classification task
        ytrain = model.predict(train).astype(int)
        ytest = model.predict(test).astype(int)
        acc_train = round(accuracy_score(target, ytrain), 2)
        acc_test = round(accuracy_score(target_test, ytest), 2)
    else:
        # Regression task
        ytrain = model.predict(train)
        ytest = model.predict(test)
        acc_train = round(r2_score(target, ytrain), 2)
        acc_test = round(r2_score(target_test, ytest), 2)
        
    print('Accuracy for train prediction =', acc_train)
    print('Accuracy for test prediction =', acc_test,'\n')
    
    return ytrain, ytest

# See examples below

### Tip 6.4. Classification report<a class="anchor" id="6.4"></a>

In [ ]:
from sklearn.metrics import classification_report
def classification_report_print(y_true, y_pred, title, target_names=['0', '1']):
    print(f'Classification report {title}:')
    print(classification_report(y_true, y_pred, target_names=target_names))

# See examples below

### Tip 6.5. Linear Regression <a class="anchor" id="6.5"></a>

**Linear Regression** is a linear approach to modeling the relationship between a scalar response (or dependent variable) and one or more explanatory variables (or independent variables). The case of one explanatory variable is called simple linear regression. For more than one explanatory variable, the process is called multiple linear regression. Reference [Wikipedia](https://en.wikipedia.org/wiki/Linear_regression).

Note the confidence score generated by the model based on our training dataset.

In [ ]:
# Linear Regression
from sklearn.linear_model import LinearRegression
linreg = LinearRegression()
linreg.fit(train, target)

ytrain, ytest = acc(linreg, train, test, target, target_test, is_round=True)
classification_report_print(target, ytrain, 'for training data')
classification_report_print(target_test, ytest, 'for test data')

### Tip 6.6. Support Vector Machines <a class="anchor" id="6.6"></a>

**Support Vector Machines** are supervised learning models with associated learning algorithms that analyze data used for classification and regression analysis. Given a set of training samples, each marked as belonging to one or the other of two categories, an SVM training algorithm builds a model that assigns new test samples to one category or the other, making it a non-probabilistic binary linear classifier. Reference [Wikipedia](https://en.wikipedia.org/wiki/Support_vector_machine).

In [ ]:
%%time
# Support Vector Machines
from sklearn.svm import SVC
from sklearn.model_selection import GridSearchCV

svr = SVC()
svr_CV = GridSearchCV(svr, param_grid={'kernel': ['linear', 'poly', 'rbf', 'sigmoid'],
                                       'tol': [1e-3]}, verbose=False)
svr_CV.fit(train, target)
print(svr_CV.best_params_,'\n')

ytrain, ytest = acc(svr_CV, train, test, target, target_test, is_round=True)
classification_report_print(target, ytrain, 'for training data')
classification_report_print(target_test, ytest, 'for test data')

### Tip 6.7. Linear SVC <a class="anchor" id="6.7"></a>

In [ ]:
# Linear SVR
from sklearn.svm import LinearSVC
from sklearn.model_selection import GridSearchCV

linear_svc = LinearSVC()
param_grid = {'dual':[False],
              'C': np.linspace(1, 15, 15)}
linear_svc_CV = GridSearchCV(linear_svc, param_grid=param_grid, verbose=False)
linear_svc_CV.fit(train, target)
print(linear_svc_CV.best_params_,'\n')

ytrain, ytest = acc(linear_svc_CV, train, test, target, target_test, is_round=True)
classification_report_print(target, ytrain, 'for training data')
classification_report_print(target_test, ytest, 'for test data')

### Tip 6.8. Decision Tree Classifier & Regressor<a class="anchor" id="6.8"></a>

This model uses a **Decision Tree** as a predictive model which maps features (tree branches) to conclusions about the target value (tree leaves). Tree models where the target variable can take a finite set of values are called classification trees; in these tree structures, leaves represent class labels and branches represent conjunctions of features that lead to those class labels. Decision trees where the target variable can take continuous values (typically real numbers) are called regression trees. Reference [Wikipedia](https://en.wikipedia.org/wiki/Decision_tree_learning).

In [ ]:
# Decision Tree Classifier for data_health
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import GridSearchCV

decision_tree = DecisionTreeClassifier()
param_grid = {'min_samples_leaf': [i for i in range(2,10)]}
decision_tree_CV = GridSearchCV(decision_tree, param_grid=param_grid, verbose=False)
decision_tree_CV.fit(train, target)
print(decision_tree_CV.best_params_, '\n')

ytrain, ytest = acc(decision_tree_CV, train, test, target, target_test, is_round=True)
classification_report_print(target, ytrain, 'for training data')
classification_report_print(target_test, ytest, 'for test data')

In [ ]:
# DecisionTreeRegressor for data_water
from sklearn.tree import DecisionTreeRegressor
from sklearn.model_selection import GridSearchCV

# Parameters of model (param_grid) taken from the notebook https://www.kaggle.com/vbmokin/ai-ml-ds-training-l2t-nh4-tree-regress-models
decision_tree = DecisionTreeRegressor()
param_grid = {'min_samples_leaf': [i for i in range(2,10)]}
decision_tree_CV_w = GridSearchCV(decision_tree, param_grid=param_grid, verbose=False)
decision_tree_CV_w.fit(train_w, target_w)
print(decision_tree_CV_w.best_params_, '\n')

ytrain_dt_w, ytest_dt_w = acc(decision_tree_CV_w, train_w, test_w, target_w, target_test_w, is_round=False)

### Tip 6.9. Random Forest Classifier & Regressor <a class="anchor" id="6.9"></a>

**Random Forest** is one of the most popular model. Random forests or random decision forests are an ensemble learning method for classification, regression and other tasks, that operate by constructing a multitude of decision trees (n_estimators= [100, 300]) at training time and outputting the class that is the mode of the classes (classification) or mean prediction (regression) of the individual trees. Reference [Wikipedia](https://en.wikipedia.org/wiki/Random_forest).

In [ ]:
%%time
# Random Forest for data_health
# Parameters of model (param_grid) taken from the notebook https://www.kaggle.com/morenovanton/titanic-random-forest
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import GridSearchCV

random_forest = RandomForestClassifier()
param_grid = {'n_estimators': [40, 50, 60], 'min_samples_split': [40, 50, 60, 70], 'min_samples_leaf': [12, 13, 14, 15, 16, 17], 
              'max_features': ['auto'], 'max_depth': [3, 4, 5, 6], 'criterion': ['gini'], 'bootstrap': [False]}
random_forest_CV = GridSearchCV(estimator=random_forest, param_grid=param_grid, verbose=False)
random_forest_CV.fit(train, target)
print(random_forest_CV.best_params_, '\n')

ytrain, ytest = acc(random_forest_CV, train, test, target, target_test, is_round=True)
classification_report_print(target, ytrain, 'for training data')
classification_report_print(target_test, ytest, 'for test data')

In [ ]:
%%time
# Random Forest for data_water
from sklearn.ensemble import RandomForestRegressor
from sklearn.model_selection import GridSearchCV

# Parameters of model (param_grid) taken from the notebook https://www.kaggle.com/vbmokin/ai-ml-ds-training-l2t-nh4-tree-regress-models
random_forest = RandomForestRegressor()
param_grid = {'n_estimators': [10, 100, 500], 'min_samples_leaf': [i for i in range(5,10)], 
              'max_features': ['auto'], 'max_depth': [i for i in range(4,6)], 
              'criterion': ['mse'], 'bootstrap': [False]}
random_forest_CV_w = GridSearchCV(estimator=random_forest, param_grid=param_grid, verbose=False)
random_forest_CV_w.fit(train_w, target_w)
print(random_forest_CV_w.best_params_, '\n')

ytrain_rf_w, ytest_rf_w = acc(random_forest_CV_w, train_w, test_w, target_w, target_test_w, is_round=False)

### Tip 6.10. XGB Classifier <a class="anchor" id="6.10"></a>

**XGBoost** is an ensemble tree method that apply the principle of boosting weak learners (CARTs generally) using the gradient descent architecture. XGBoost improves upon the base Gradient Boosting Machines (GBM) framework through systems optimization and algorithmic enhancements. Reference [Towards Data Science.](https://towardsdatascience.com/https-medium-com-vishalmorde-xgboost-algorithm-long-she-may-rein-edd9f99be63d)

In [ ]:
%%time
# XGBoost Classifier
import xgboost as xgb
from xgboost import XGBClassifier
from sklearn.model_selection import GridSearchCV

xgb_clf = xgb.XGBClassifier(objective='reg:logistic') 
parameters = {'n_estimators': [50, 60, 70, 80, 90], 
              'learning_rate': [0.09, 0.1, 0.15, 0.2],
              'max_depth': [3, 4, 5]}
xgb_reg = GridSearchCV(estimator=xgb_clf, param_grid=parameters).fit(train, target)
print("Best score: %0.3f" % xgb_reg.best_score_)
print("Best parameters set:", xgb_reg.best_params_, '\n')

ytrain, ytest = acc(xgb_reg, train, test, target, target_test, is_round=True)
classification_report_print(target, ytrain, 'for training data')
classification_report_print(target_test, ytest, 'for test data')

### Tip 6.11. LGBM Classifier <a class="anchor" id="6.11"></a>

**Light GBM** is a fast, distributed, high-performance gradient boosting framework based on decision tree algorithms. It splits the tree leaf wise with the best fit whereas other boosting algorithms split the tree depth wise or level wise rather than leaf-wise. So when growing on the same leaf in Light GBM, the leaf-wise algorithm can reduce more loss than the level-wise algorithm and hence results in much better accuracy which can rarely be achieved by any of the existing boosting algorithms. Also, it is surprisingly very fast, hence the word ‘Light’. Reference [Analytics Vidhya](https://www.analyticsvidhya.com/blog/2017/06/which-algorithm-takes-the-crown-light-gbm-vs-xgboost/).

In [ ]:
%%time
import lightgbm as lgb
from lightgbm import LGBMClassifier
from sklearn.model_selection import GridSearchCV

#%% split training set to validation set
Xtrain, Xval, Ztrain, Zval = train_test_split(train, target, test_size=0.2, random_state=0)
modelL = lgb.LGBMClassifier(n_estimators=1000, num_leaves=40)
modelL.fit(Xtrain, Ztrain, eval_set=[(Xval, Zval)], early_stopping_rounds=50, verbose=True)

ytrain, ytest = acc(modelL, train, test, target, target_test, is_round=True)
classification_report_print(target, ytrain, 'for training data')
classification_report_print(target_test, ytest, 'for test data')

### Tip 6.12. Logistic Regression <a class="anchor" id="6.12"></a>

**Logistic Regression** is a useful model to run early in the workflow. Logistic regression measures the relationship between the categorical dependent variable (feature) and one or more independent variables (features) by estimating probabilities using a logistic function, which is the cumulative logistic distribution. Reference [Wikipedia](https://en.wikipedia.org/wiki/Logistic_regression).

In [ ]:
# Logistic Regression
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import GridSearchCV

logreg = LogisticRegression()
logreg_CV = GridSearchCV(estimator=logreg, param_grid={'C' : [.2, .3, .4]}, verbose=False)
logreg_CV.fit(train, target)
print(logreg_CV.best_params_, '\n')

ytrain, ytest = acc(logreg_CV, train, test, target, target_test, is_round=True)
classification_report_print(target, ytrain, 'for training data')
classification_report_print(target_test, ytest, 'for test data')

### Tip 6.13. k-Nearest Neighbors (KNN) <a class="anchor" id="6.13"></a>

In pattern recognition, the **k-Nearest Neighbors algorithm** (or k-NN for short) is a non-parametric method used for classification and regression. A sample is classified by a majority vote of its neighbors, with the sample being assigned to the class most common among its k nearest neighbors (k is a positive integer, typically small). Reference [Wikipedia](https://en.wikipedia.org/wiki/K-nearest_neighbors_algorithm).

In [ ]:
# KNN - k-Nearest Neighbors algorithm
from sklearn.neighbors import KNeighborsClassifier
from sklearn.model_selection import GridSearchCV

knn = KNeighborsClassifier()
knn_CV = GridSearchCV(estimator=knn, param_grid={'n_neighbors': range(2, 7)}, 
                      verbose=False).fit(train, target)
print(knn_CV.best_params_, '\n')

ytrain, ytest = acc(knn_CV, train, test, target, target_test, is_round=True)
classification_report_print(target, ytrain, 'for training data')
classification_report_print(target_test, ytest, 'for test data')

### Tip 6.14. MLP Classifier <a class="anchor" id="6.14"></a>

The **MLPClassifier** optimizes the squared-loss using LBFGS or stochastic gradient descent by the Multi-layer Perceptron regressor. Reference [Sklearn documentation](https://scikit-learn.org/stable/modules/generated/sklearn.neural_network.MLPRegressor.html#sklearn.neural_network.MLPRegressor).

In [ ]:
%%time
# MLPClassifier
from sklearn.neural_network import MLPClassifier
from sklearn.model_selection import GridSearchCV

mlp = MLPClassifier()
param_grid = {'hidden_layer_sizes': [i for i in range(2,5)],
              'solver': ['sgd'],
              'learning_rate': ['adaptive'],
              'max_iter': [1000]
              }
mlp_GS = GridSearchCV(mlp, param_grid=param_grid, verbose=False)
mlp_GS.fit(train, target)
print(mlp_GS.best_params_, '\n')

ytrain, ytest = acc(mlp_GS, train, test, target, target_test, is_round=True)
classification_report_print(target, ytrain, 'for training data')
classification_report_print(target_test, ytest, 'for test data')

### Tip 6.15. Voting Classifier <a class="anchor" id="6.15"></a>

There is **VotingClassifier**. The idea behind the VotingClassifier is to combine conceptually different machine learning classifiers and use a majority vote (hard vote) or the average predicted probabilities (soft vote) to predict the class labels. Such a classifier can be useful for a set of equally well performing model in order to balance out their individual weaknesses. Reference [sklearn documentation](https://scikit-learn.org/stable/modules/ensemble.html#voting-classifier).

In [ ]:
# See start at "Tip 6.12. Logistic Regression" (logreg_CV), 
# "Tip 6.14. MLP Classifier" (mlp_GS) and "Tip 6.7. Linear SVC" (linear_svc_CV)
# Voting Classifier
from sklearn.ensemble import VotingClassifier
from sklearn.model_selection import GridSearchCV

Voting_ens = VotingClassifier(estimators=[('log', logreg_CV), ('mlp', mlp_GS ), ('svc', linear_svc_CV)])
Voting_ens.fit(train, target)

ytrain, ytest = acc(Voting_ens, train, test, target, target_test, is_round=True)
classification_report_print(target, ytrain, 'for training data')
classification_report_print(target_test, ytest, 'for test data')

### Tip 6.16. Feature importance diagram <a class="anchor" id="6.16"></a>

In [ ]:
# See start at "Tip 6.11. LGBM Classifier"
# Feature importance diagram
fig =  plt.figure(figsize = (10,10))
axes = fig.add_subplot(111)
lgb.plot_importance(modelL,ax = axes,height = 0.5)
plt.show();
plt.close()

In progress...

#### See more in the notebook [50 Advanced Tips: Data Science for tabular data](https://www.kaggle.com/vbmokin/50-advanced-tips-data-science-for-tabular-data)

## 7. Analysis and visualization of modeling results<a class="anchor" id="7"></a>

[Back to Table of Contents](#0.1)

### Tip 7.1. Output results<a class="anchor" id="7.1"></a>

### Tip 7.2. Drawing plot data with modeling results<a class="anchor" id="7.2"></a>

In [ ]:
def plot_prediction(target, y_list, label_list, data_name, MAV=0.5):
    # Thanks to https://www.kaggle.com/vbmokin/ai-ml-ds-training-l3at-nh4-nn-models
    # Building plot with target, Maximum allowable value (MAV) and 
    # prediction for the data_name (training, validation or test) data by 3 models
    
    x = np.arange(len(y_list[0]))
    plt.figure(figsize=(16,10))
    if target is not None:
        plt.scatter(x, target, label = "Target data")
    for i in range(len(y_list)):
        plt.scatter(x, y_list[i], label = label_list[i])
    plt.plot(x, np.full(len(y_list[0]), MAV), label = "Maximum allowable value", color = 'r')
    plt.title(f'Prediction for the {data_name} data')
    plt.legend(loc='best')
    plt.grid(True)

In [ ]:
models_name = ['Decision Tree prediction', 'Random Forest prediction']
plot_prediction(target_w, [ytrain_dt_w, ytrain_rf_w], models_name, 'training', MAV=0.5)

### Tip 7.3. Drawing plot data of DataFrame (Pandas)<a class="anchor" id="7.3"></a>

In [ ]:
# In progress...
#df.plot(kind = "scatter", x = "spirit_servings", y = "wine_servings")

In [ ]:
# In progress...
# Interactive plots out of the box in pandas
# run !pip install hvplot
#pd.options.plotting.backend = "hvplot"
#df.plot(kind = "scatter", x = "spirit_servings", y = "wine_servings", c = "continent")

#### See more in the notebook [50 Advanced Tips: Data Science for tabular data](https://www.kaggle.com/vbmokin/50-advanced-tips-data-science-for-tabular-data)

In progress...

## 8. BONUS<a class="anchor" id="8"></a>

[Back to Table of Contents](#0.1)

### Tip 8.1. Submission data from DataFrame to Kaggle competition<a class="anchor" id="8.1"></a>

### Competition [Titanic: Machine Learning from Disaster](https://www.kaggle.com/c/titanic)

In [ ]:
# From https://www.kaggle.com/vbmokin/titanic-top-score-one-line-of-the-prediction
traindf = pd.read_csv('../input/titanic/train.csv').set_index('PassengerId')
testdf = pd.read_csv('../input/titanic/test.csv').set_index('PassengerId')
df = pd.concat([traindf, testdf], axis=0, sort=False)
df['Title'] = df.Name.str.split(',').str[1].str.split('.').str[0].str.strip()
df['IsWomanOrBoy'] = ((df.Title == 'Master') | (df.Sex == 'female'))
df['LastName'] = df.Name.str.split(',').str[0]
family = df.groupby(df.LastName).Survived
df['WomanOrBoyCount'] = family.transform(lambda s: s[df.IsWomanOrBoy].fillna(0).count())
df['WomanOrBoyCount'] = df.mask(df.IsWomanOrBoy, df.WomanOrBoyCount - 1, axis=0)
df['FamilySurvivedCount'] = family.transform(lambda s: s[df.IsWomanOrBoy].fillna(0).sum())
df['FamilySurvivedCount'] = df.mask(df.IsWomanOrBoy, df.FamilySurvivedCount - df.Survived.fillna(0), axis=0)
df['WomanOrBoySurvived'] = df.FamilySurvivedCount / df.WomanOrBoyCount.replace(0, np.nan)
df['Alone'] = (df.WomanOrBoyCount == 0)
df = pd.concat([df.WomanOrBoySurvived.fillna(0), df.Alone, df.Sex.replace({'male': 0, 'female': 1})], axis=1)
test_x = df.loc[testdf.index]
test_x['Survived'] = (((test_x.WomanOrBoySurvived <= 0.238) & (test_x.Sex > 0.5) & (test_x.Alone > 0.5)) | \
          ((test_x.WomanOrBoySurvived > 0.238) & \
           ~((test_x.WomanOrBoySurvived > 0.55) & (test_x.WomanOrBoySurvived <= 0.633))))
pd.DataFrame({'Survived': test_x['Survived'].astype(int)}, \
             index=testdf.index).reset_index().to_csv('submission.csv', index=False)

### Result: the file "submission.csv" gives LB = 0.80382 (Top 4%)

I hope you find this notebook useful and enjoyable.

Your comments and feedback are most welcome.

[Go to Top](#0)